<footer class="bg-dark text-white mt-5 p-4">

  <div class="container text-center">

    <h5>🍔 CampusMarket</h5>

    <p>Marketplace de lanches acadêmico</p>

    <small>
      Desenvolvido por Luiz Gabriel • TCC Técnico em Informática
    </small>

  </div>

</footer>