<div class="sidebar">

  <h3 class="logo">🍔 CampusMarket</h3>

  <div class="menu">

    <% if (user.tipo === "cliente") { %>
      <a href="/cliente">🏠 Início</a>
      <a href="#" data-bs-toggle="offcanvas" data-bs-target="#carrinho">🛒 Carrinho</a>
      <a href="/pedidos" class="active">📦 Pedidos</a>
    <% } %>

    <% if (user.tipo === "vendedor") { %>
      <a href="/dashboard">📊 Dashboard</a>
    <% } %>

  </div>

  <div class="user">
    <p>👤 <%= user.nome %></p>
    <a href="/logout">Sair</a>
  </div>

</div>