<%- include('partials/header') %>

<div class="container mt-4">

<h3>Novo Produto</h3>

<form action="/dashboard/produtos" method="POST">

<input class="form-control mb-2" name="nome" placeholder="Nome" required>
<textarea class="form-control mb-2" name="descricao" placeholder="Descrição"></textarea>
<input class="form-control mb-2" type="number" step="0.01" name="preco" placeholder="Preço" required>
<input class="form-control mb-2" type="number" name="estoque" placeholder="Estoque" required>

<button class="btn btn-success">Cadastrar</button>

</form>

</div>